<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Student Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="card-body" th:fragment="formField(urlAction, student)">
		<form th:action="@{${urlAction}}" th:object="${student}" method="POST">
			<div class="form-group">
				<label>Student First Name</label>
				<input
				type="text"
				name="firstName"
				th:field="*{firstName}"
				class="form-control"
				placeholder="Enter Student First Name"
				>
				<p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
			</div>
			<div class="form-group">
				<label>Student Last Name</label>
				<input
				type="text"
				name="lastName"
				th:field="*{lastName}"
				class="form-control"
				placeholder="Enter Student Last Name"
				>
				<p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
			</div>
			<div class="form-group">
				<label>Student Email</label>
				<input
				type="text"
				name="email"
				th:field="*{email}"
				class="form-control"
				placeholder="Enter Student Email"
				>
				<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
			</div>
			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>